html {
	padding: 0px;
	margin: 0px;
}

header {
	background-color: #232323;
	padding: 1em;
	margin: -1em ;
}

.container {
	padding: 0em 10em 0em 10em;
}

.container h3 {
	border-bottom: solid;
	border-color: grey;
	border-width: 1px;
	padding-bottom: 2em;
}

#logo-img {
	display: block;
	width: 200px;
	float: left;
}

#header-links {
	text-align: right;
	color: #ffffff;
}


#header-links visited {
	text-align: right;
	color: #ffffff;
}

#ask-question-button {
	padding-top: 40px;
	text-align: right;
}

.box {
	border: solid;
	border-width: 2px;
	padding: 1em;
}